h1, h2 {
  color: darkred;
  font-family: sans-serif;
}

/* ============================================================ */

.repo_section {
  border: 2pt solid darkred;
  padding: 0pt 6pt;
}

.repo_head_buttons {
    float: right;
}

.repo_section_body { }

.todo_section { }

/* ============================================================ */

.commit_block { 
  padding: 2pt;
  border: 1pt solid white;
  font-family: monospace;
}
div.commit_block:hover {
  border-color: gray;
  border-style: dotted;
}

.commit_line .commit_elem { 
  display: inline-block;
  padding: 0ex 1ex;
}

.commit_picked {
  color: gray;
}
.commit_unpicked { }

.commit_unpicked.commit_attn {
  background-color: #FDD; /* pink; */
}
.commit_no_attn {}

.commit_action {
  float: right;
}
.commit_action_picked {}

.commit_sha {}

.commit_date {}

.commit_author {
  min-width: 20ex;
}

.commit_msg_line1 {}

.commit_full_msg { 
  padding: 1ex 2ex;
  display : none
}

/* ============================================================ */

.external_link { }
