h1, h2, h3 {
  color: darkred;
  font-family: sans-serif;
}

.global_head_buttons {
    float: right;
}

td {
  padding: 0pt 4pt;
}

/* ============================================================ */

.repo_section {
  border: 1pt solid darkred;
  padding: 0pt 6pt;
  margin: 2pt;
}

.repo_head_buttons {
    float: right;
}

.repo_section_body { }

.repo_status_line {
  font-family: serif;
  font-style: italic;
  color: gray;
}

.repo_status_checking {
  display: none;
}

.repo_error_line {
  font-family: serif;
  font-style:italic;
  color: red;
}

.todo_section { }

/* ============================================================ */

td.commit_index {
  font-family: sans-serif;
  font-size: x-small;
  color: gray;
}

.commit_block { 
  padding: 2pt;
  border: 1pt solid white;
  font-family: monospace;
}
.commit_block:hover {
  /* background-color: lightgray; */
  outline: 1pt dotted gray;
}

.commit_line {
  /* Trying to get the height of a picked line same as one with a select list-box */
  padding: 4pt 0pt;
}
.commit_line .commit_elem { 
  display: inline-block;
  padding: 0ex 1ex;
}

.commit_picked {
  color: gray;
}
.commit_unpicked { }

.commit_unpicked.commit_attn {
  background-color: #FDD; /* pink; */
}
.commit_no_attn {}

td.commit_action {
  text-align: center;
/*
  vertical-align: top;
*/
}

.commit_action_picked {
/*
  display: inline-block;
  padding: 2pt 0pt;
*/
}

.commit_sha {}

.commit_date {}

.commit_author {
  min-width: 20ex;
}

.commit_msg_line1 {
  min-width: 60ex;
}

.commit_full_msg { 
  padding: 1ex 2ex;
  display : none
}

/* ============================================================ */

.todo_section {
  /*
  border: 2pt solid darkred;
  padding: 0pt 6pt;
  */
  padding: 0pt 6pt;
  margin: 2pt;
}
.todo_body {
  font-family: monospace;
  /*
  padding: 0pt 0pt 24pt 0pt;
  */
}

.todo_commit_line {
  display: none;
}
.todo_commit_sha {}

.todo_bookkeeping_line {
  display: none;
}

.todo_empty {
  /* display: none; */
  font-family: sans-serif;
  font-style: italic;
}

.endblock {
  padding: 10em 0pt;
}
/* ============================================================ */

.external_link { }
